<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div>


    <table>
        <thead>
        <tr>
            <th>title</th>
            <th>add comment</th>

        </tr>
        </thead>
        <tbody>
        <tr data-th-each="c : ${posts}" data-th-object="${c}">
            <td data-th-text=*{title}>

            </td>

            <td>
                <a th:href="@{/addcomment(id=${c.id})}">
                    addcomment
                </a>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>