<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    
    <h1>
        login page
    </h1>

    <form method="post">

        <label for="id">
            email
        </label>

        <input type="text" id="id" name="id">

        <label for="password">
            password
        </label>

        <input type="text" id="password" name="password">

        <a th:href="@{/oauth2/authorization/google}">
            google
        </a>

        <input type="submit" value="submit">
    </form>
</body>

</html>